html {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 100%;
}

#sidebar, section {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#sidebar {
  left: 0;
  transition: left 300ms ease;
  width: 280px;
  z-index: 200;
}

section {
  left: 281px;
}

section img {
  margin: 1.5rem 0;
}

#menu {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 100;
}

@media (max-width: 768px) {
  #sidebar {
    left: -280px;
  }
  section {
    left: 0;
  }
  .open #sidebar {
    left: -280px;
  }
  .open section {
    left: 0;
  }
}