html {
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
}

img {
  max-width: 100%;
}

aside, section {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

aside {
  left: 0;
  width: 280px;
}

section {
  left: 281px;
}

section img {
  margin: 1.5rem 0;
}